* {
    box-sizing: border-box;
    overflow: auto;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
article,
section,
header,
footer,
aside,
nav,
main div,
span {
    margin: 0;
    padding: 0;
}


/* 清除文繞圖的現象 例如可用在footer */

.clearfix {
    clear: both;
}