        * {
            font-family: verdana, sans-serif;
            font-color: rgb(28, 28, 28);
            a font-color: rgb(28, 28, 28);
        }
        /* column 定義區開始 */

        .container {
            margin: auto;
            max-width: 1000px;
            heigth: auto;
        }

        .col {
            padding: 10px;
            width: 380px;
            line-height: 25px;
            background-color: white;
            font-size: 14px;
            text-align: stretch;
            color: rgb(28, 28, 28);
        }
        /* column 定義區結束 */
        /* Navbar 區開始 */
        /* 
   reset nav下面的ul
   使其不出現多餘的padding與margin
*/

        nav ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }
        /* 
    使nav, nav 下面的ul作為 flexbox容器
*/

        nav,
        nav ul {
            display: flex;
        }

        nav {
            flex-flow: row wrap;
            background-color: rgb(28, 28, 28);
            color: white;
            margin: auto;
            max-width: 1000px;
            padding: 10px 10px 10px 10px;
        }

        nav [class^="topnav"] {
            flex-flow: row wrap;
        }

        .topnav-right {
            margin-left: auto;
        }

        nav ul li {
            text-align: center;
            padding: 5px;
            cursor: default;
        }

        nav ul li:hover:not(.brand) {
            background-color: rgb(28, 28, 28);
            text-align: center;
            padding: 5px;
            cursor: pointer;
        }

        @media screen and (max-width: 560px) {
            nav [class^="topnav"] {
                width: 100%;
                flex-flow: column wrap;
            }
        }

        .topnav-right {
            border-bottom: 0px solid rgb(28, 28, 28);
            overflow: hidden;
            background-color: rgb(28, 28, 28);
            display: absolute;
        }
        /* Style the links inside the navigation bar */

        .topnav-right a {
            float: left;
            display: flex;
            color: White;
            background-color: rgb(28, 28, 28) text-align: center;
            padding: 15px;
            text-decoration: none;
            font-size: 14px;
        }
        /* Change the color of links on hover */

        .topnav-right a:hover {
            color: rgb(215, 84, 85);
            text-decoration: underline;
        }
        /* Add a color to the active/current link */

        .topnav-right a.active {
            color: rgb(215, 84, 85);
        }
        /* Navbar 區結束 */
        /* Image RWD 設定區開始 */

        img {
            max-width: 100%;
            height: auto;
        }
        /* Image RWD 設定區結束 */
        /* Footer 區開始 */

        footer {
            border-top: 1px solid rgb(28, 28, 28);
            margin: auto;
            max-width: 1000px;
        }

        footer a {
            color: rgb(28, 28, 28);
            text-decoration: none;
        }
        /* Footer 區結束 */
        /* FA 顏色定義區開始 */

        .fa-color-ctrl {
            text-align: center;
            padding: 10px;
        }

        .fa-color-ctrl a:hover {
            color: rgb(215, 84, 85);
        }
        /* Add a color to the active/current link */

        .fa-color-ctrl a.active {
            color: rgb(215, 84, 85);
        }
        /* FA 顏色定義區結束 */